.check-box {
  position: relative;
  display: flex;
}

.check-box .check {
  position: relative;
  flex-basis: 16px;
  height: 16px;
  margin: 0 8px 0 0;
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.6);
  background-color: rgba(255, 255, 255, 0);
}

.check-box .check.ed::before {
  content: ' ';
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100% - 6px);
  height: calc(100% - 6px);
  margin: 3px;
  background-color: #5aa366;
}

.check-box .check::after {
  content: ' ';
  position: absolute;
  top: -2px;
  left: -2px;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  box-shadow: 0 0 0 2px rgba(255, 255, 255, 0);
  transform: scale(1.07) translateZ(0);
  transition: box-shadow 0.25s, transform 0.25s;
}

.check-box.linked:hover .check::after {
  box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.2);
  transform: scale(1) translateZ(0);
}

.check-box .text {
  height: 100%;
  display: flex;
  align-items: center;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.8);
  white-space: pre-wrap;
  user-select: none;
}

.check-box.checked .text {
  color: rgba(255, 255, 255, 0.6);
}
