#settings {
  padding: 0;
  display: grid;
  margin: -40px auto 0;
  width: 100%;
}

#settings > .module.head {
  padding: calc(4rem + 40px) 3rem 3rem;
  background-color: rgba(255, 255, 255, 0.05);
}

#settings > .module.head .page-header {
  margin-bottom: 0rem;
}

#settings .module .list.settings li {
  height: unset;
  display: block;
  padding: 5px 0;
  margin: 0 0 7px;
}

#settings .module .list.settings li:last-child {
  margin: 0;
}

#settings .module .list.settings li .check-box {
  width: 100%;
}

#settings .module .list.settings li .check-box .text {
  flex-basis: calc(100% - 24px);
  justify-content: space-between;
}

#settings .module .list.settings li .check-box .text .coverage {
  color: rgba(255, 255, 255, 0.4);
}

#settings .info {
  margin: 10px 0 0;
  max-width: 300px;
  font-size: 12px;
  font-style: italic;
  letter-spacing: 0.5px;
  color: rgba(255, 255, 255, 0.4);
}

#settings .info p {
  line-height: 1.4;
}

#settings .module .sub-header:not(:first-child) {
  margin: calc(3rem - 14px) 0 1rem;
}

#settings .module .list ~ .button {
  margin: 1rem 0 0;
}

#settings .info ~ .button {
  margin: 1rem 0 0;
}

#settings .check-box .check.ed::before {
  background-color: rgba(255, 255, 255, 0.8);
}

#settings > .padder {
  width: 100%;
  padding: 3rem;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 3rem;
}

#settings > .padder > .module:first-child {
  grid-column: 1/3;
}

@media screen and (max-width: 1500px) {
  #settings > .padder {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (max-width: 1024px) {
  #settings > .padder {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 600px) {
  #settings > .module.head {
    padding: calc(3rem + 40px) 2rem 2rem;
  }

  #settings .module .sub-header:not(:first-child) {
    margin: 2rem 0 1rem;
  }

  #settings > .padder {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 2rem;
    padding: 2rem;
  }

  #settings > .padder > .module:first-child {
    grid-column: unset;
  }
}



