.list.roster {
  
}

.roster .info ~ .button {
  margin: 1rem 0 0;
}

.list.roster .row,
.list.roster .row ul .col {
  /* height: unset; */
}

.list.roster:not(.mini) .row:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.wrapper.dark-mode .list.roster:not(.mini) .row:hover {
  background-color: rgba(255, 255, 255, 0.05);
}

.list.roster:not(.mini) .row::after {
  content: ' ';
  position: absolute;
  left: 0;
  top: unset;
  bottom: -2px;
  height: 1px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.2);
  transform: none;
}

.list.roster.mini .row:last-child::after {
  content: none;
}

.list.roster .row.header ul .col {
  color: rgba(255, 255, 255, 0.6);
}

.list.roster .row.header ul .col:hover {
  background-color: rgba(255, 255, 255, 0.2);
  color: rgba(255, 255, 255, 0.8);
}

.list.roster .row.header ul .col.sort {
  font-size: 16px;
}

.list.roster .row.header ul .col.sort.asc .full {
  position: relative;
}

.list.roster .row.header ul .col.sort.asc .full::after {
  content: ' ASC';
  position: absolute;
  top: 0;
  left: calc(100% + 6px);
  font-size: 12px;
  pointer-events: none;
}

.list.roster .row > ul {
  width: 100%;
  display: grid;
  grid-gap: 32px;
  grid-template-columns: minmax(180px, 270px) calc(38px * 3) minmax(120px, 400px) minmax(80px, 110px) minmax(80px, 110px) minmax(80px, 110px) minmax(80px, 110px) minmax(80px, 110px);
}

.list.roster.mini .row > ul {
  grid-template-columns: auto;
}

.list.roster .row.error {
  height: unset;
}

.list.roster .row.error > ul {
  grid-template-columns: 1fr;
}

.list.roster .row.error > ul .col {
  padding: 1rem 0;
  height: unset;
  font-size: 14px;
  font-style: italic;
  letter-spacing: 0.5px;
}

/* .list.roster .row ul .row {
  font-size: 14px;
  margin: 0;
} */

.list.roster .row > ul .col {
  margin: 0;
  font-size: 14px;
}

.list.roster .row:not(.header) > ul .col.focus {
  font-size: 18px;
}

.list.roster .row > ul .col.member {

}

.list.roster.mini .row > ul .col.member .member-link {
  max-width: unset;
}

.list.roster .row > ul .col .abbr {
  display: none;
}




.list.roster ~ .button {
  margin: 1rem 0 0;
}



.list.roster .row.self > ul .col.member::before {
  content: '\e90f';
  position: absolute;
  top: 12px;
  left: -24px;
  font-family: 'destiny' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  font-size: 14px;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  z-index: 2;
  pointer-events: none;
}

.list.roster .row > ul .col.lastCharacter .icon i,
.list.roster .row > ul .col.lastCharacter .icon div {
  width: 38px;
  height: 38px;
  display: grid;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  color: #fff;
  background-color: rgb(75, 127, 149);
}

.list.roster .row > ul .col.lastCharacter .icon .destiny-class_hunter {
  background-color: rgb(127, 98, 76);
}

.list.roster .row > ul .col.lastCharacter .icon .destiny-class_warlock {
  background-color: rgb(42, 120, 99);
}

.list.roster .row > ul .col.lastCharacter .icon:nth-child(2) div {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.8);
  background-color: rgba(255, 255, 255, 0.1);
}

.list.roster .row > ul .col.lastCharacter .icon:nth-child(3) div {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.8);
  background-color: rgba(255, 255, 255, 0.15);
}

.list.roster .row > ul .col.lastCharacter .icon:nth-child(3) div.max-ish {
  color: rgb(228, 208, 98);
  background-color: rgba(229, 209, 99, 0.2);
}

.list.roster .row > ul .col.lastCharacter .icon:nth-child(3) div.max {
  color: rgb(255, 224, 50);
  background-color: rgba(229, 209, 99, 0.5);
}

.list.roster .row:not(.header) > ul .col.lastActivity > div {
  height: 100%;
  width: 100%;
  display: grid;
  grid-gap: 7px;
  align-items: center;
}

.list.roster .row:not(.header) > ul .col.lastActivity > div div {
  white-space: nowrap;
  width: max-content;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
}

.list.roster .row:not(.header) > ul .col.lastActivity > div span {
  color: rgba(255, 255, 255, 0.6);
}

.list.roster .row:not(.header) > ul .col.lastActivity > div span::before {
  content: '    ';
  white-space: pre-wrap;
}

.list.roster .row > ul .col.progression .resets {
  color: rgba(255, 255, 255, 0.5);
}

.list.roster .row > ul .col.progression .resets::before {
  content: ' ';
  white-space: pre-wrap;
}

.list.roster .row:not(.header) > ul .col.weeklyXp {
  color: rgba(255, 255, 255, 0.4);
  white-space: pre-wrap;
}

.list.roster .row > ul .col.weeklyXp span {
  color: rgba(255, 255, 255, 0.8);
}





.list.roster .fireteam {
  height: unset;
}

.list.roster .fireteam ul {
  width: 100%;
}

.list.roster .fireteam ul .row:last-child {
  margin: 0;
}

.list.roster .fireteam > ul::before {
  content: ' ';
  position: absolute;
  top: 0;
  left: -10px;
  width: 6px;
  height: calc(100% - 2px);
  border: 1px solid #d6d6d6;
  border-right: none;
  transition: opacity 0.25;
  opacity: 0.4;
}







@media screen and (max-width: 1280px) {
  .list.roster .row > ul {
    grid-template-columns: minmax(180px, 270px) calc(38px * 3) minmax(120px, 400px) minmax(80px, 110px) minmax(80px, 110px) minmax(80px, 110px) minmax(80px, 110px);
  }

  .list.roster .row > ul .col.weeklyXp {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .list.roster .row > ul {
    grid-template-columns: minmax(180px, 270px) calc(38px * 3) minmax(120px, 400px) minmax(80px, 110px);
  }

  .list.roster .row > ul .col.valor,
  .list.roster .row > ul .col.glory,
  .list.roster .row > ul .col.infamy {
    display: none;
  }
}


@media screen and (max-width: 767px) {

  .list.roster .row > ul {
    grid-template-columns: minmax(180px, 270px) calc(38px * 3) minmax(120px, 400px);
    grid-gap: 16px;
  }

  .list.roster .row > ul li {
    font-size: 14px;
  }

  .list.roster .row:not(.header) > ul .col.focus {
    font-size: 14px;
  }

  .list.roster .row > ul .col > .abbr {
    display: unset;
  }

  .list.roster .row > ul .col > .full {
    display: none;
  }

  .list.roster .row > ul .col.triumphScore {
    display: none;
  }

}


@media screen and (max-width: 600px) {

  .list.roster .row > ul {
    grid-template-columns: minmax(120px, 270px) minmax(120px, 400px);
    grid-gap: 16px;
  }

  .list.roster .row > ul .col.lastCharacter {
    display: none;
  }

}