.index-search {
  padding: 0 0 1rem;
}

.index-search.has-results {
  padding: 0 0 2rem;
}

.index-search .list.record-items {
  grid-template-columns: 1fr;
}

.index-search .list.collection-items {
  grid-template-columns: 1fr 1fr;
}

@media screen and (max-width: 1400px) {
  .index-search .list.collection-items {
    grid-template-columns: 1fr;
  }
}