#header {
  position: relative;
  z-index: 20;
  top: 0;
  left: 0;
  width: 100%;
  height: 40px;
  display: flex;
  flex-flow: row wrap;
}

#header .braytech {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 40px;
  z-index: 20;
  padding: 0 3rem;
  background-color: rgba(255, 255, 255, 0.05);
  color: rgba(255, 255, 255, 0.8);
  font-size: 14px;
  font-family: 'nhg text';
}

#header.navOpen .braytech {
  position: fixed;
}

.wrapper.dark-mode #header .braytech {
  background-color: rgba(0, 0, 0, 0.4);
}

html.backdropfilter #header .braytech,
html.backdropfilter .wrapper.dark-mode #header .braytech {
  background-color: rgba(255, 255, 255, 0);
  backdrop-filter: blur(7px) brightness(1.2) saturate(1.2);
}

#header .braytech .wrapper {
  width: 100%;
  height: 40px;
  max-width: calc(1920px - 6rem);
  margin: 0 auto;  
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#header .braytech .logo {
  letter-spacing: 2px;
  font-family: 'nhg display';
  font-size: 15px;
  text-transform: uppercase;
}

#header .braytech .logo a {
  display: flex;
  align-items: center;
}

#header .braytech .logo span {
  font-size: 16px;
  margin: 1px 7px 0 0;
}

#header .braytech .trigger {
  height: 100%;
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 16px;
  font-family: 'nhg display';
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

#header .braytech .trigger i {
  font-size: 14px;
  margin: 0 7px 0 0;
}

#header .braytech .trigger i.segoe-uniE106 {
  font-size: 11px;
  margin: 0 7px 0 0;
}

#header .ui {
  margin: 0;
  display: flex;
  flex-flow: row wrap;
}

#header .views {
}

#header .views ul {
  position: relative;
  display: flex;
  flex-flow: row wrap;
}

#header .views ul li {
  display: flex;
  margin: 0 6px;
  align-items: center;
}

#header .views ul li .description {
  display: none;
}

#header .views ul li a {
  position: relative;
  padding: 0 4px 0;
  height: 40px;
  display: flex;
  align-items: center;
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  font-family: 'nhg text', 'Destiny Keys';
}

#header .views ul li a.active {
  color: rgb(255, 255, 255);
}

#header .views ul li a::before {
  content: ' ';
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: rgb(255, 255, 255);
  transition: transform 0.2s;
  transform: scaleX(0);
}

#header .views ul li a:hover {
  color: rgb(255, 255, 255);
}

#header .views ul li a.active::before {
  transform: scaleX(1);
}

#header .views ul li a.active:hover {
  color: rgb(255, 255, 255);
}

#header.profile-header {
  position: relative;
  z-index: 20;
  top: 0;
  left: 0;
  width: 100%;
  height: 152px;
  display: flex;
  flex-flow: row wrap;
}

#header.profile-header .braytech {
  background-color: rgba(135, 135, 135, 0.2);
  color: rgba(255, 255, 255, 0.8);
}

#header.profile-header .ui {
  max-width: 1920px;
  padding: 0 3rem;
  margin: 0 auto;
  display: grid;
  justify-content: space-between;
  grid-template-columns: minmax(384px, 512px) max-content;
  grid-gap: 2rem;
}

#header.profile-header .profile {
  position: relative;
  padding: 40px 0 0;
  height: 152px;
  width: 100%;
  flex-basis: 100%;
}

#header.profile-header .background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #666;
}

#header.profile-header .background::after {
  content: ' ';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  opacity: 0;
  background: linear-gradient(225deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 20%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0) 80%, rgba(255, 255, 255, 0) 100%);
  background-repeat: no-repeat;
  background-size: 200%;
}

@keyframes animation-update-flash {
  0% {
    background-position-x: 200%;
  }
  100% {
    background-position-x: -200%;
  }
}

#header.profile-header .background.update-flash::after {
  opacity: 1;
  animation: animation-update-flash 2.7s linear 0s 1 forwards;
}

#header.profile-header .background .image {
  background-size: cover;
  background-position: -52px bottom;
}

@media screen and (min-width: 1921px) {

  #header.profile-header .background .image {
    background-position: center bottom;
  }

}

#header.profile-header .background .image.very-light {
  filter: brightness(0.8);
}

#header.profile-header .background .image.missing.dl {
  opacity: 0;
}

#header.profile-header .background .animator {
  position: absolute;
  top: 56px;
  right: calc(3rem + 10px);
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 0.5px;
  color: rgba(255, 255, 255, 0.1);
}

#header.profile-header .background .animator span {
  color: rgba(255, 255, 255, 0.2);
}

#header.profile-header .characters {
  position: relative;
  margin: 38px 0 0;
  width: 100%;
  z-index: 10;
}

#header.profile-header .characters .list li {
  padding: 0 0 0 calc(96px + 32px);
  margin: 0;
  height: 96px;
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  align-content: flex-start;
  user-select: none;
}

#header.profile-header .characters .list li .icon {
  position: absolute;
  left: 0;
  width: 96px;
  height: 96px;
}

#header.profile-header .characters .list li .displayName {
  position: relative;
  flex-basis: 100%;
  font-size: 36px;
  letter-spacing: 2px;
  line-height: 1;
  font-weight: 500;
  margin: 6px 0 8px;
}

#header.profile-header .characters .list li .displayName::before {
  content: ' ';
  position: absolute;
  top: -4px;
  left: 1px;
  width: 18px;
  height: 3px;
  background-color: rgba(255, 255, 255, 0.8);
}

#header.profile-header .characters .list li .basics {
  display: flex;
  flex-flow: row wrap;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 14px;
  font-family: 'nhg text';
  line-height: 1;
  color: rgba(255, 255, 255, 0.6);
}

#header.profile-header .characters .list li .basics::before {
  content: '//\00A0';
}

#header.profile-header .characters .list li .basics .light {
  position: relative;
  margin: 0 0 0 14px;
  font-weight: 500;
  color: #e5d163;
}

#header.profile-header .characters .list li .basics .light::before {
  content: 'l';
  position: absolute;
  top: 1px;
  left: -10px;
  font-family: 'destiny' !important;
  font-size: 8px;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#header.profile-header .characters .list li .progress-bar {
  margin: 20px 0 0;
  flex-basis: 100%;
  height: 11px;
}

#header.profile-header .characters .list li .progress-bar .bar::before {
  content: ' ';
  position: absolute;
  top: -2px;
  left: -2px;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.1);
}

#header.profile-header .characters .list li .progress-bar .bar .text {
  display: none;
}

#header.profile-header .characters .list li .progress-bar .bar .fill {
  background-color: #00cfcf;
  background-color: rgba(255, 255, 255, 0.6);
  transition: width 1s;
}

#header.profile-header .characters .list li:hover {
  background-color: rgba(255, 255, 255, 0.4);
  color: rgba(255, 255, 255, 1);
  z-index: 2;
}

#header.profile-header .characters .list li:hover::before {
  box-shadow: inset 0 0 0 1px #d6d6d6;
}

#header.profile-header .characters .list li:hover::after {
  box-shadow: 0 0 0 2px #d6d6d6;
  transform: scale(1) translateZ(0);
}

#header.profile-header .views {
  margin: 32px 0 0;
}

#header.profile-header .views ul {
  position: relative;
  display: flex;
  flex-flow: row wrap;
}

#header.profile-header .views ul li {
  display: flex;
  align-items: center;
}

#header.profile-header .views ul li .description {
  display: none;
}

#header.profile-header .views ul li a {
  position: relative;
  padding: 32px 4px;
  height: 80px;
  display: flex;
  align-items: center;
  color: rgba(255, 255, 255, 0.4);
  font-size: 16px;
}

#header.profile-header .views ul li a.active {
  color: rgba(255, 255, 255, 1);
}

#header.profile-header .views ul li a::before {
  content: ' ';
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: rgba(255, 255, 255, 1);
  transition: transform 0.2s;
  transform: scaleX(0);
}

#header.profile-header .views ul li a:hover {
  color: rgba(255, 255, 255, 0.8);
}

#header.profile-header .views ul li a.active::before {
  transform: scaleX(1);
}

#header.profile-header .views ul li a.active:hover {
  color: rgba(255, 255, 255, 1);
}







#header .nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 40px 0 0;
  z-index: 17;
  background-color: rgba(0, 0, 0, 0.9);
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  overscroll-behavior-y: contain;
}

html.backdropfilter #header .nav {
  background-color: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(7px) brightness(1.2) saturate(1.2);
}

#header .nav .wrap {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  min-height: 100%;
  display: grid;
  align-content: space-between;
}

#header .nav .wrap .types {
  padding: 3rem 3rem 3rem 3rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 3rem;
}

#header .nav .wrap .types .type {
  position: relative;
}

#header .nav .wrap .types .type::before {
  content: ' ';
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: 100%;
  background-color: #fff;
  opacity: 0.1;
}

#header .nav .wrap .types .head {
  margin: 0 0 2rem;
  padding: 0 0 0 1rem;
}

#header .nav .wrap .types .head .name {
  font-size: 18px;
  font-weight: 500;
  font-family: 'nhg text';
}

#header .nav .wrap .types .head .description {
  margin: 1rem 0 0;
  font-size: 14px;
}

#header .nav .wrap .types li {
  display: block;
  padding: 10px 1rem;
  flex-basis: 100%;
  position: relative;
  font-family: 'nhg text', 'Destiny Keys';
}

#header .nav .wrap .types li .name {
  font-size: 16px;
}

#header .nav .wrap .types li a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: rgba(255, 255, 255, 0.9);
}

#header .nav .wrap .types li a::before {
  content: ' ';
  position: absolute;
  bottom: 0px;
  height: 100%;
  left: -2px;
  width: 2px;
  background-color: rgba(255, 255, 255, 1);
  transition: transform 0.2s;
  transform: scaleX(0);
}

#header .nav .wrap .types li a.active::before {
  transform: scaleX(1);
}

#header .nav .wrap .types li a:hover {
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.4);
}

#header .nav .wrap .types li a.active {
  background-color: rgba(255, 255, 255, 0.05);
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.2);
}

#header .nav .wrap .types li a.active:hover {
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.4);
}

#header .nav .wrap .types li .name {
  font-size: 16px;
}

#header .nav .wrap .types li .description {
  margin: 6px 0 0;
  display: block;
  color: rgba(255, 255, 255, 0.5);
  font-family: 'nhg display';
  line-height: 1.4;
}





#header .nav .wrap .auxiliary .stats .value {
  font-size: 48px;
  line-height: 36px;
}

#header .nav .wrap .auxiliary .stats .name {
  margin: 14px 0 0;
  color: rgba(255, 255, 255, 0.6);
}

#header .nav .wrap .auxiliary .stats .description {
  margin: 18px 0 0;
  font-size: 14px;
  font-style: italic;
  letter-spacing: 0.5px;
  color: rgba(255, 255, 255, 0.4);
  max-width: 320px;
}

#header .nav .wrap .auxiliary .tags {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-content: flex-start;
  grid-gap: 3px;
}

#header .nav .wrap .auxiliary .tags .member-link {
  max-width: unset;
}







@media screen and (max-width: 1280px) {
  #header .braytech {
    height: 40px;
    font-size: 12px;
  }

  #header .braytech .logo {
    letter-spacing: 1.5px;
    font-size: 13px;
  }
  
  #header .braytech .logo span {
    font-size: 14px;
  }

  #header .braytech .trigger {
    font-size: 13px;
  }
  
  #header .braytech .trigger i {
    font-size: 13px;
  }
  
  #header .braytech .trigger i.segoe-uniE106 {
    font-size: 10px;
  }

  #header .characters {
    margin: 32px 0 0;
    width: 100%;
    max-width: 512px;
  }

  #header.profile-header .characters {
    width: 100%;
    max-width: 512px;
  }

  #header.profile-header .characters .list li {
    padding: 0 0 0 calc(96px + 32px);
  }

  #header.profile-header .views ul {
    margin: 0;
  }

  #header .nav .wrap .types {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 1024px) {
  #header .nav .wrap .types {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 767px) {
  #header .nav .wrap .types {
    grid-template-columns: repeat(1, 1fr);
  }
}



@media screen and (max-width: 600px) {
  #header .braytech {
    padding: 0 2rem;
    width: 100%;
  }

  #header .ui {
    padding: 0 2rem;
  }

  #header .nav {
    
  }

  #header .nav .wrap .types {
    padding: 2rem 0;
    grid-template-columns: 1fr;
    grid-gap: 2rem;
}

  #header .nav .wrap .types .type::before {
    content: none;
  }

  #header .nav .wrap .types li {
    padding: 10px 2rem;
  }

  #header .nav .wrap .types li a::before {
    left: 0;
  }

  #header.profile-header {
    height: 112px;
  }

  #header.profile-header .ui {
    padding: 0 2rem;
    grid-template-columns: 1fr;
  }

  #header.profile-header .profile {
    padding: 0;
    height: 112px;
  }
  
  #header.profile-header .background .image {
    background-position: 30% bottom;
  }

  #header.profile-header .background .animator {
    top: 48px;
    right: 2rem;
    font-size: 10px;
    display: none;
  }

  #header.profile-header .characters {
    margin: 64px 0 0;
  }

  #header.profile-header .characters .list li {
    padding: 0 0 0 calc(64px + 16px);
    height: 64px;
  }

  #header.profile-header .characters .list li .icon {
    width: 64px;
    height: 64px;
  }

  #header.profile-header .characters .list li .displayName {
    font-size: 22px;
    font-weight: 500;
    margin: 4px 0 4px;
  }

  #header.profile-header .characters .list li .displayName::before {
    width: 9px;
    height: 2px;
  }

  #header.profile-header .characters .list li .basics {
    letter-spacing: 2px;
    font-size: 12px;
  }

  #header.profile-header .characters .list li .basics .light {
    margin: 0 0 0 13px;
  }

  #header.profile-header .characters .list li .basics .light::before {
    top: 0px;
    left: -9px;
    font-size: 7px;
  }

  #header.profile-header .characters .list li .progress-bar {
    margin: 14px 0 0 0;
    height: 7px;
  }
}

#header.profile-header.dark-mode .background {
  background-color: #1a1a1a;
}

#header.profile-header.dark-mode .characters .list li .progress-bar .bar {
  background-color: rgba(255, 255, 255, 0.05);
}

#header.dark-mode.read .braytech,
#header.dark-mode.inspect .braytech {
  background-color: rgba(255, 255, 255, 0);
}
