.activity-mode-icons {
  position: relative;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: minmax(60px, 120px) minmax(60px, 120px);
  align-items: start;
}

.activity-mode-icons > div {
  position: relative;
  display: grid;
  grid-gap: 4px;
  grid-template-columns: 1fr;
}

.activity-mode-icons > div .icon svg {
  width: 100%;
  height: auto;
  transform: scale(1.2);
}

.activity-mode-icons > div .icon svg .polygon.inner {
  animation: rotate-linear 20s infinite linear;
  transform-origin: center;
}

.activity-mode-icons > div .icon svg .polygon.inner.ani {
  animation: crucible-modes-rotate-and-scale-out 5s infinite ease-out;
  transform-origin: center;
}

@keyframes crucible-modes-rotate-and-scale-out {
  0%,
  100% {
    transform: scale(0);
    opacity: 0;
  }
  12.5% {
    opacity: 0.4;
  }
  25% {
    transform: scale(1.2);
    opacity: 0;
  }
}

.activity-mode-icons > div .text {
  text-align: center;
  font-size: 16px;
}

.activity-mode-icons .falling-1,
.activity-mode-icons .falling-2,
.activity-mode-icons .falling-3 {
  transform-origin: center center;
  /* animation: rotate-linear 2s infinite linear; */
  animation: crucible-modes-falling-leaf 3s infinite cubic-bezier(0.39, 0.575, 0.565, 1);
}

.activity-mode-icons .falling-2 {
  animation-delay: 1s;
}

.activity-mode-icons .falling-3 {
  animation-delay: 1.5s;
}

@keyframes crucible-modes-falling-leaf {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateY(40%);
  }
}