#clan.no-clan {
  padding: 4rem 3rem 3rem;
  display: grid;
  justify-content: center;  
  grid-template-columns: 1fr;
}

#clan.no-clan .properties {
  max-width: 800px;
  margin: 0 auto;
}

#clan.no-clan .properties .name {
  font-size: 38px;
  font-weight: 600;
  margin: 0 0 7px;
  color: rgba(255, 255, 255, 1);
  text-transform: uppercase;
  border-bottom: 2px solid rgba(255, 255, 255, 0.4);
  padding-bottom: 7px;
  margin-bottom: 1rem;
}

#clan.no-clan .properties .description {
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
}

@media screen and (max-width: 600px) {

  #clan.no-clan {
    padding: 3rem 2rem 2rem;
  }

  #clan.no-clan .properties .name {
    font-size: 24px;
  }
  
  #clan.no-clan .properties .description {
    font-size: 14px;
  }  

}