.character-emblem {
  width: 100%;
  user-select: none;
}

.character-emblem .wrapper {
  display: block;
  height: 0;
  padding-bottom: calc(96 / 474 * 100%);
  margin: 0 0 16px;
  background-color: rgba(255, 255, 255, 0.1);
}

.character-emblem .wrapper::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
  pointer-events: none;
  background-color: initial;
  margin: initial;
  box-shadow: inset 0 0 0 1px rgba(214, 214, 214, 0);
  transition: background-color 0.25s, box-shadow 0.25s;
}

.character-emblem .wrapper .image.emblem {
  background-size: cover;
}

.character-emblem .wrapper .image.emblem::before {
  content: ' ';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  opacity: 0;
  transition: opacity 0.25s;
}

.character-emblem .wrapper .image.emblem.missing {
  width: calc(96 / 474 * 100% - 50px);
  height: calc(100% - 50px);
  top: 18px;
  left: 18px;
  background-size: contain;
}

.character-emblem .wrapper.linked:hover .image.emblem::before {
  opacity: 0.2;
}

.character-emblem .wrapper .displayName {
  position: absolute;
  left: 88px;
  top: 15px;
  font-size: 27px;
  color: #fff;
}

.character-emblem .wrapper .group {
  position: absolute;
  left: 88px;
  top: 52px;
  font-size: 16px;
  opacity: 0.4;
  color: #fff;
}

.character-emblem .wrapper .light {
  position: absolute;
  right: 12px;
  top: 13px;
  font-size: 38px;
  font-weight: 500;
  line-height: 1;
  color: #e5d163;
}

.character-emblem .wrapper .light::before {
  content: 'l';
  position: absolute;
  top: 4px;
  left: -16px;
  font-family: 'destiny' !important;
  speak: none;
  font-size: 15px;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.character-emblem .wrapper .level {
  position: absolute;
  right: 12px;
  top: 51px;
  font-size: 18px;
  color: #fff;
}

.character-emblem .wrapper .progress-bar {
  position: absolute;
  left: 2px;
  bottom: 2px;
  height: 11px;
  width: calc(100% - 4px);
  height: 11px;
}

.character-emblem .wrapper .progress-bar .bar::before {
  content: ' ';
  position: absolute;
  top: -2px;
  left: -2px;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
}

.character-emblem .wrapper .progress-bar .bar .text {
  display: none;
}

.character-emblem .wrapper .progress-bar .bar .fill {
  background-color: rgba(255, 255, 255, 0.8);
  transition: width 1s;
  opacity: 0;
}

.character-emblem.auxiliary .wrapper {
  background-color: transparent;
}

.character-emblem.auxiliary .wrapper .abs {
  padding: 0 1rem;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;
  align-content: center;
}

.character-emblem.auxiliary .wrapper a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.character-emblem.auxiliary .wrapper  .text {
  padding: 0;
  font-size: 14px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.character-emblem.auxiliary .wrapper .icon {
  font-size: 13px;
} 

@media screen and (max-width: 600px) {
  .character-emblem {
    width: 100%;
    height: 0;
    padding-bottom: calc(96 / 474 * 100%);
  }

  .character-emblem .wrapper .image.emblem.missing {
    width: calc(96 / 474 * 100% - 37px);
    height: calc(100% - 35px);
    top: 14px;
    left: 14px;
  }

  .character-emblem .wrapper .displayName {
    left: 20%;
    top: 14%;
    font-size: 18px;
  }

  .character-emblem .wrapper .group {
    left: 20%;
    top: 53%;
    font-size: 13px;
  }

  .character-emblem .wrapper .light {
    top: 10%;
    right: 2%;
    font-size: 26px;
  }

  .character-emblem .wrapper .light::before {
    font-size: 11px;
    left: -12px;
  }

  .character-emblem .wrapper .level {
    top: 51%;
    right: 2%;
    font-size: 14px;
  }

  .character-emblem .wrapper .progress {
    height: 7px;
  }
}
